.communities-section {
    width: 341px;
    background-color: var(--secondly-background-color);
    border: 1px solid var(--border-color);
    margin-top: 12px;
}

.communities-container {
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 8px;
}

.community-info-container {
    height: 72px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.community-name-container {
    display: flex;
    flex-direction: column;
}

.community-name {
    color: var(--secondly-font-color);
}

.title {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}