.metric-cord {
    background-color: var(--secondly-background-color);
    border: 1px solid var(--border-color);
    width: 378px;
    height: 172px;
}

.metric-card-content-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px;
}

.metric-card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.metric-card-numbers {
    font-size: 40px;
    font-weight: 600;
}

.metric-card-text {
    color: var(--secondly-font-color);
}