.post-container {
    width: 700px;
    background-color: var(--secondly-background-color);
    border: 1px solid var(--border-color);
}

.post-info-container {
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px;
}

.avatar-container {
    display: flex;
    gap: 12px;
}

.avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.post-img-container {
    display: flex;
    justify-content: center;
}

.post-img {
    width: 652px;
    height: 458px;
}

.likes-and-comments-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.name-and-time-container {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.time {
    color: var(--secondly-font-color);
    font-weight: 400;
}

.post-description {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 150%;
}

.likes-container {
    display: flex;
    align-items: center;
    gap: 9px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Inter, sans-serif;
    line-height: 150%;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.comments-textarea {
    width: 100%;
    height: 58px;
    padding: 14px 14px 14px 24px;
}

.add-comment-btn {
    width: 211px;
    height: 48px;
}

.comment-container {
    display: flex;
    justify-content: space-between;
}

.label-container {
    display: flex;
    gap: 8px;
}

@media (max-width: 720px) {
    .post-container {
        background-color: var(--main-background-color);
        width: 100%;
        min-width: 320px;
    }

    .post-info-container {
        margin: 12px;
    }

    .post-img {
        width: 100%;
        height: 150px;
    }

    .likes-and-comments-container {
        font-size: 12px;
    }

    .post-description {
        font-size: 14px;
    }

    .add-comment-btn {
        width: 163px;
        height: 36px;
    }

    .comments-section {
        font-size: 14px;
        line-height: 150%;
        font-family: Inter, sans-serif;
    }
}